@import 'tailwindcss';

@config '../../tailwind.config.ts';

html,
body {
  height: 100%;
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #e7e8fa;
    border-radius: 20px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }

  .animate-drawer-in {
    animation: slideIn 0.3s ease-out forwards;
  }

  .animate-drawer-out {
    animation: slideOut 0.3s ease-out forwards;
  }
}
